﻿/*Header styling*/
#logoImage {
    width:200px;
}
div.page-header {
    margin-top:0px;
    background-color:#E8D6CF;
    padding-top:3px;
    margin-bottom:0px;
}

/*Navbar styling*/
nav#navvy.navbar.navbar-static-top {
    margin-bottom:0px;
    background-color:#6A1525;
}
#navvy a {          /*Links within navbar*/
    color:#FFF6F0;
}
#navvy a:hover {
    background:none;    /*No change when hovering*/
}
/*Hamburger Button*/
button.navbar-toggle {
    border:1px solid #FFF6F0;
}
span.icon-bar {
    border:1px solid #FFF6F0;
}