/*General styling (added last)*/﻿
body {
    background-color:#FFF6F0;
 }
/*Header styling*/
#logoImage {
    width:200px;
}
div.page-header {
    margin-top:0px;
    background-color:#E8D6CF;
    padding-top:3px;
    margin-bottom:0px;
}

/*Navbar styling*/
nav#navvy.navbar.navbar-static-top {
    margin-bottom:0px;
    background-color:#6A1525;
}
#navvy a {          /*Links within navbar*/
    color:#FFF6F0;
}
#navvy a:hover {
    background:none;    /*No change when hovering*/
}

/*Trailer section styling*/
.mainSec {
    background-image:url('Images/junkyard.jpg');
    background-size:cover;
}
h1.container#trailer {
    text-align:right;
}

/*Preview section styling*/
.previews {
    margin:auto;
}